/* FOOTER */
#colophon .wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#colophon .wrap .logo{
    text-align: center;
}
#colophon .wrap .logo img{
    width: 50%
}
#colophon .wrap .reseau{
    display: flex;
    gap: 1rem;
    align-items: center;
}


/* menu burger */
#nav_burger {
    z-index: 2;
    display: none;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: -150vw;
    padding: 4rem;
    transition: 1s; /*   ????   */
}
#nav_burger.open{
    right: 0;left: 0;
}
#nav_burger .close {
    position: absolute;
    right: 1rem;top: 1rem;
    font-size: 3rem;
    color: var(--marronclair);
}

/* pallette */
#palette {
    background-color: #fff;
    display: none;
    position: absolute;
    top: 0;left: -300px;
    padding: 2rem 6rem 2rem 2rem;
    transition: 1s;
}
#palette.open{
    left: 0;
}

/* diapo */
#diapo li{
    position: relative;
}
#diapo p.robotoblack{
    position: absolute;
    color: white;
    transform: rotate(-10deg);
    font-size: 4rem;
    font-weight: bold;
    bottom: 20rem;
    right: 6rem;
}
#diapo p.blacktext{
    color: black;
}
.flexslider {
    border: none;
}

/* dropdown */
#dropdown{
    position: relative;
}
#dropdown>a{
    background-color: var(--vert);
    text-align: center;
    display: inline-block;
    width: 100%;
    padding-top: 1rem;padding-bottom: 1rem;
    color: white;
    text-transform: uppercase;
    position: relative;
}
#dropdown>a img{
    position: absolute;
    width: 30px;
    top: .8rem;
    right: 2rem;
}
#dropdown ul{
    padding-bottom: 1rem;
    position: absolute;
    background-color: var(--marronclair);
    top: 50px;
    left: 0;right: 0;
}
#dropdown ul li a{
    display: inline-block;
    width: 100%;
    text-align: center;
    color: white;
    text-transform: uppercase;
    padding-top: 1rem;padding-bottom: 1rem;
}
#dropdown a:hover{
    background-color: var(--vert);
}
#dropdown ul.hidden{
    display: none;
}
#reponse{
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    margin-bottom: 3rem;
}
#reponse img{
    width: 48%;
}
#reponse .text{
    padding-top: 1rem;
    width: 48%;
}
#reponse .text h3{
    font-size: 2rem;
}


@media screen and (max-width: 950px) {
    #colophon .wrap{
        flex-direction: column;
        gap: 2rem;
    }
    #nav_burger {
        display: block;
    }
    #palette {
        display: block;
    }
    #reponse{
        flex-direction: column;
    }
    #reponse img{
        width: 100%
    }
    #reponse .text{
        width: 100%;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 750px) {
    #diapo p.robotoblack{
        bottom: 5rem;
        right: 4rem;
        font-size: 2rem;
    }
}