:root {
    --marron: #D2B285;
    --marronclair: #D3B68D;
    --vert: #037A00;
    --rouge: #AF0000;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'robotoregular';
    src: url('../font/roboto-regular-webfont.woff2') format('woff2'),
    url('../font/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotoblack';
    src: url('../font/roboto-black-webfont.woff2') format('woff2'),
    url('../font/roboto-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.roboto_900 {font-family: 'robotoblack';}
html {scroll-behavior: smooth;}
ul,ol {list-style: none;}
a {text-decoration: none;}
img {max-width: 100%;vertical-align: bottom;}
body {
    background-color: var(--gris);
    color: #000;
    font: 400 18px/1.4 'robotoregular', sans-serif;
}
.wrap {max-width: 1200px;width: 100%;margin: 0 auto;}
.wrap2 {max-width: 800px;width: 100%;margin: 0 auto;padding: 0 1rem;}
#diapo {padding-top: 73px;}
/* header */
#masthead {
    background-color: var(--marron);
    padding: .6rem;
    position: fixed;
    width: 100%;
    height:73px;
    z-index: 99;
}
#masthead .logo img {width:170px;}
#masthead .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}
#masthead nav ul {display: flex;gap:2rem;align-items: center;}
#masthead nav svg {width:40px;}
#masthead nav a {color:#fff;font-size: 1.3rem;}
#masthead nav a:hover {color:var(--vert);}
#masthead nav a:hover path {fill: var(--vert);}
/* footer */
#colophon {
    background-color: var(--marron);
    color:#fff;
    padding: 3rem 1rem;
}
#colophon a {color:#fff;}
#colophon .reseau svg{width: 40px;}
.mobile {display:none;}


@media screen and (max-width: 950px) {
    .mobile {display:block;}
    .desk {display:none;}
}